
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.header{
    background: #384356;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    height: 70px;
}

.menu{
    display: flex;
    align-items: center;
    height: inherit;
}

.menu ul {
    display: inherit;
    align-items: inherit;
    padding: inherit;
    margin: 0;
}

.menu ul li{
    display: inherit;
    align-items: inherit;
    height: inherit;
    padding: 0 10px;
}


.menu ul li a{
    display: inherit;
    align-items: inherit;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.menu ul li a:hover{
    box-shadow: 0 3px 0 0 #00b4ee;
}
