
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.header{
    background: #384356;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    height: 70px;
}

.menu{
    display: flex;
    align-items: center;
    height: inherit;
}

.menu ul {
    display: inherit;
    align-items: inherit;
    padding: inherit;
    margin: 0;
}

.menu ul li{
    display: inherit;
    align-items: inherit;
    height: inherit;
    padding: 0 10px;
}


.menu ul li a{
    display: inherit;
    align-items: inherit;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.menu ul li a:hover{
    box-shadow: 0 3px 0 0 #00b4ee;
}

.hero{
    background: #384356;
    padding: 0;
    padding-top: 120px;
    text-align: center;
    height: 670px;
    margin: 0 auto;
}

h1{
    margin: 0 auto;
    color: white;
    font-size: 42px;
    font-weight: 500;
}

.hero h3{
    margin: 20px auto;
    color: white;
    font-weight: 500;
}

.hero h3 span{
    color: rgba(255,255,255,.5)
}

.desplegable-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    color: white;
    width: 180px;
    height: 40px;
    background-color: #00b4ee;
    padding: 6px;
    border-radius: 5px;
    margin: 30px auto 40px;
}

.desplegable-button h5{
    margin: 0;
    font-weight: 500;
    font-size: .9em;
}

.hero-gif-container{
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 550px;
    z-index: 2;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 6px 5px 20px 0px #00000052;
    overflow: hidden;
}

.hero-dashboard{
    border-radius: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.install-plugin{
    text-align: center;
    padding-top: 300px;
    background-color: #FBFCFD;
    padding-bottom: 150px;
}

.how-to-install{
    margin: 0 0 30px;
}

.install-plugin h5{
    font-size: 1em;
    margin: 0 0 5px;
    color: #00b4ee;
}

.install-plugin h2{
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 36px;
}

.how-to-install p{
    font-size: 22px;
    color: rgba(0,0,0,.7);
    margin: 0 0 20px 0;
}

.editors-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.editor-card {
    width: 140px;
    height: 130px;
    text-align: center;
    border-radius: 6px;
    padding: 25px 2px 0;
    margin-bottom: 20px;
    margin-right: 20px; 
    /* box-shadow: 4px 2px 11px 0px #c3c1c18a;
    border: 1px solid #8080801c; */
    box-shadow: 3px 2px 0px 0px #c3c1c11f;
    border: 1px solid #8080801c;
    font-size: 14px;
    color: #919eab;
}

.editor-card:hover{
    box-shadow: 7px 8px 10px 4px #4c67693d;
    color: black;
}

.editor-card img{
    width: 80px;
    height: 80px;
}

.advantages{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.advantages-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-title h2{
    margin: 0;
    margin-right: 20px;
    font-weight: 700;
    font-size: 26px;
}
.advantages-descp p{
    font-size: 18px;
    color: rgba(0,0,0,.7);
}

.advantages-descp strong{
    color: #00b4ee;
}

.mini-rectangle{
    margin: 30px auto;
    border: 1.5px solid #00b4ee;
    width: 6em;
}

.advantages-details{
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    padding: 60px 210px 60px 150px;
}

.advantage{
    width: 440px;
    margin: 30px 0;
}

.advantage p strong{
    font-family: 'Poppins', sans-serif;
}

.advantage p{
    margin:8px 0 10px;
}

.try-it{
    background-color: #384356;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.try-it h2{
    font-size: 28px;
}

.try-it h4{
    font-weight: normal;
}



.because-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.because-item img{
    width: 24px;
    height: 24px;
    padding-right: 20px;
}
